In [23]:
import pandas as pd

# Load the Excel file
df = pd.read_excel("Ml3.xlsx", sheet_name="Results", engine="openpyxl")

In [24]:

df

,Unnamed: 0,Company name Latin alphabet,Inactive,Quoted,Branch,OwnData,Woco,f,"NACE Rev. 2, core code (4 digits)",Consolidation code,...,Investments\nth EUR 2017,Investments\nth EUR 2016,Research & development expenses\nth EUR 2023,Research & development expenses\nth EUR 2022,Research & development expenses\nth EUR 2021,Research & development expenses\nth EUR 2020,Research & development expenses\nth EUR 2019,Research & development expenses\nth EUR 2018,Research & development expenses\nth EUR 2017,Research & development expenses\nth EUR 2016
0,1.0,AFCON HOLDINGS LIMITED,No,Yes,No,No,No,IL,2790,C1,...,4.373190e+04,4.647777e+04,1.142512e+03,1.057452e+03,1.343123e+03,7.786827e+02,1.285522e+03,1.332180e+03,7.643149e+02,1.873421e+03
1,2.0,THORPE (F W) PLC,No,Yes,No,No,No,GB,2740,C1,...,4.128284e+03,4.067539e+03,-4.446123e+02,3.567300e+02,3.371261e+02,2.728483e+02,3.255495e+02,2.671180e+02,2.649835e+02,2.867202e+02
2,3.0,NTT INC.,No,Yes,No,No,Yes,JP,6190,C2,...,1.582965e+07,4.134560e+06,-7.558878e+05,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,-1.766519e+06
3,4.0,VODAFONE GROUP PLC,No,Yes,No,No,Yes,GB,6190,C1,...,3.204000e+06,3.459000e+06,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
4,5.0,ORANGE,No,Yes,No,No,Yes,FR,6190,C1,...,3.711000e+06,3.882000e+06,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1168,1169.0,INTERNATIONAL BUSINESS MACHINES CORP,No,Yes,No,No,Yes,US,6201,C1,...,6.578840e+05,5.815390e+05,-6.131219e+06,-6.156950e+06,-5.728411e+06,-5.103091e+06,-5.307994e+06,-4.697814e+06,-4.661054e+06,-5.432124e+06
1169,1170.0,SIEMENS AG,No,Yes,No,No,Yes,DE,2790,C2,...,6.197000e+06,6.479000e+06,-6.183000e+06,-5.591000e+06,-4.859000e+06,-4.601000e+06,-5.670000e+06,-5.558000e+06,-5.164000e+06,-4.732000e+06
1170,1171.0,INTEL CORP,No,Yes,No,No,Yes,US,2611,C1,...,6.590513e+06,1.033678e+07,-1.452126e+07,-1.643353e+07,-1.341162e+07,-1.104719e+07,-1.189425e+07,-1.182794e+07,-1.086884e+07,-1.203397e+07
1171,1172.0,APPLE INC.,No,Yes,No,No,Yes,US,2620,C1,...,1.649280e+08,1.527014e+08,-2.823770e+07,-2.692962e+07,-1.892563e+07,-1.601640e+07,-1.489301e+07,-1.229785e+07,-9.809420e+06,-9.000090e+06
1172,1173.0,"SAMSUNG ELECTRONICS CO.,LTD.",No,Yes,No,No,Yes,KR,2630,C2,...,6.121377e+06,5.344920e+06,-1.989049e+07,-1.843543e+07,-1.666865e+07,-1.581285e+07,-1.530534e+07,-1.433660e+07,-1.273950e+07,-1.108482e+07

In [25]:
df1= df.drop(columns=['Inactive','Quoted','Company name Latin alphabet','Branch','OwnData','Woco','Consolidation code','Last avail. year','Number of employees\nLast avail. yr'])

df1 = df1[df1 != 'n.a.']
df1 = df1.dropna()
df1

,Unnamed: 0,f,"NACE Rev. 2, core code (4 digits)",Operating revenue (Turnover)\nth EUR 2023,Operating revenue (Turnover)\nth EUR 2022,Operating revenue (Turnover)\nth EUR 2021,Operating revenue (Turnover)\nth EUR 2020,Operating revenue (Turnover)\nth EUR 2019,Operating revenue (Turnover)\nth EUR 2018,Operating revenue (Turnover)\nth EUR 2017,...,Investments\nth EUR 2017,Investments\nth EUR 2016,Research & development expenses\nth EUR 2023,Research & development expenses\nth EUR 2022,Research & development expenses\nth EUR 2021,Research & development expenses\nth EUR 2020,Research & development expenses\nth EUR 2019,Research & development expenses\nth EUR 2018,Research & development expenses\nth EUR 2017,Research & development expenses\nth EUR 2016
0,1.0,IL,2790,5.396817e+05,5.580629e+05,5.997424e+05,4.394842e+05,4.313872e+05,3.699382e+05,3.607728e+05,...,4.373190e+04,4.647777e+04,1.142512e+03,1.057452e+03,1.343123e+03,7.786827e+02,1.285522e+03,1.332180e+03,7.643149e+02,1.873421e+03
1,2.0,GB,2740,2.062780e+05,1.680338e+05,1.396682e+05,1.244867e+05,1.236809e+05,1.238154e+05,1.201877e+05,...,4.128284e+03,4.067539e+03,-4.446123e+02,3.567300e+02,3.371261e+02,2.728483e+02,3.255495e+02,2.671180e+02,2.649835e+02,2.867202e+02
2,3.0,JP,6190,8.179347e+07,9.049488e+07,8.946709e+07,9.202125e+07,9.991809e+07,9.532964e+07,9.005227e+07,...,1.582965e+07,4.134560e+06,-7.558878e+05,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,-1.766519e+06
3,4.0,GB,6190,4.544100e+07,5.547100e+07,4.563000e+07,4.437700e+07,4.925500e+07,4.522700e+07,5.184800e+07,...,3.204000e+06,3.459000e+06,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
4,5.0,FR,6190,4.549300e+07,4.429300e+07,4.576400e+07,4.288200e+07,4.296900e+07,4.197900e+07,4.147200e+07,...,3.711000e+06,3.882000e+06,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1168,1169.0,US,6201,5.598188e+07,5.675045e+07,5.063569e+07,4.496702e+07,5.137441e+07,6.951176e+07,6.598768e+07,...,6.578840e+05,5.815390e+05,-6.131219e+06,-6.156950e+06,-5.728411e+06,-5.103091e+06,-5.307994e+06,-4.697814e+06,-4.661054e+06,-5.432124e+06
1169,1170.0,DE,2790,7.816900e+07,7.402300e+07,6.242800e+07,5.772200e+07,8.714500e+07,8.344100e+07,8.352000e+07,...,6.197000e+06,6.479000e+06,-6.183000e+06,-5.591000e+06,-4.859000e+06,-4.601000e+06,-5.670000e+06,-5.558000e+06,-5.164000e+06,-4.732000e+06
1170,1171.0,US,2611,4.907509e+07,5.911685e+07,6.977219e+07,6.345615e+07,6.406000e+07,6.187595e+07,5.233138e+07,...,6.590513e+06,1.033678e+07,-1.452126e+07,-1.643353e+07,-1.341162e+07,-1.104719e+07,-1.189425e+07,-1.182794e+07,-1.086884e+07,-1.203397e+07
1171,1172.0,US,2620,3.617946e+08,4.045218e+08,3.159313e+08,2.344679e+08,2.389329e+08,2.294358e+08,1.941674e+08,...,1.649280e+08,1.527014e+08,-2.823770e+07,-2.692962e+07,-1.892563e+07,-1.601640e+07,-1.489301e+07,-1.229785e+07,-9.809420e+06,-9.000090e+06
1172,1173.0,KR,2630,1.817362e+08,2.235933e+08,2.080480e+08,1.773723e+08,1.771398e+08,1.904129e+08,1.866070e+08,...,6.121377e+06,5.344920e+06,-1.989049e+07,-1.843543e+07,-1.666865e+07,-1.581285e+07,-1.530534e+07,-1.433660e+07,-1.273950e+07,-1.108482e+07

In [26]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df1['f1'] = le.fit_transform(df1['f'])
df1

,Unnamed: 0,f,"NACE Rev. 2, core code (4 digits)",Operating revenue (Turnover)\nth EUR 2023,Operating revenue (Turnover)\nth EUR 2022,Operating revenue (Turnover)\nth EUR 2021,Operating revenue (Turnover)\nth EUR 2020,Operating revenue (Turnover)\nth EUR 2019,Operating revenue (Turnover)\nth EUR 2018,Operating revenue (Turnover)\nth EUR 2017,...,Investments\nth EUR 2016,Research & development expenses\nth EUR 2023,Research & development expenses\nth EUR 2022,Research & development expenses\nth EUR 2021,Research & development expenses\nth EUR 2020,Research & development expenses\nth EUR 2019,Research & development expenses\nth EUR 2018,Research & development expenses\nth EUR 2017,Research & development expenses\nth EUR 2016,f1
0,1.0,IL,2790,5.396817e+05,5.580629e+05,5.997424e+05,4.394842e+05,4.313872e+05,3.699382e+05,3.607728e+05,...,4.647777e+04,1.142512e+03,1.057452e+03,1.343123e+03,7.786827e+02,1.285522e+03,1.332180e+03,7.643149e+02,1.873421e+03,16
1,2.0,GB,2740,2.062780e+05,1.680338e+05,1.396682e+05,1.244867e+05,1.236809e+05,1.238154e+05,1.201877e+05,...,4.067539e+03,-4.446123e+02,3.567300e+02,3.371261e+02,2.728483e+02,3.255495e+02,2.671180e+02,2.649835e+02,2.867202e+02,12
2,3.0,JP,6190,8.179347e+07,9.049488e+07,8.946709e+07,9.202125e+07,9.991809e+07,9.532964e+07,9.005227e+07,...,4.134560e+06,-7.558878e+05,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,-1.766519e+06,19
3,4.0,GB,6190,4.544100e+07,5.547100e+07,4.563000e+07,4.437700e+07,4.925500e+07,4.522700e+07,5.184800e+07,...,3.459000e+06,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,12
4,5.0,FR,6190,4.549300e+07,4.429300e+07,4.576400e+07,4.288200e+07,4.296900e+07,4.197900e+07,4.147200e+07,...,3.882000e+06,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1168,1169.0,US,6201,5.598188e+07,5.675045e+07,5.063569e+07,4.496702e+07,5.137441e+07,6.951176e+07,6.598768e+07,...,5.815390e+05,-6.131219e+06,-6.156950e+06,-5.728411e+06,-5.103091e+06,-5.307994e+06,-4.697814e+06,-4.661054e+06,-5.432124e+06,29
1169,1170.0,DE,2790,7.816900e+07,7.402300e+07,6.242800e+07,5.772200e+07,8.714500e+07,8.344100e+07,8.352000e+07,...,6.479000e+06,-6.183000e+06,-5.591000e+06,-4.859000e+06,-4.601000e+06,-5.670000e+06,-5.558000e+06,-5.164000e+06,-4.732000e+06,6
1170,1171.0,US,2611,4.907509e+07,5.911685e+07,6.977219e+07,6.345615e+07,6.406000e+07,6.187595e+07,5.233138e+07,...,1.033678e+07,-1.452126e+07,-1.643353e+07,-1.341162e+07,-1.104719e+07,-1.189425e+07,-1.182794e+07,-1.086884e+07,-1.203397e+07,29
1171,1172.0,US,2620,3.617946e+08,4.045218e+08,3.159313e+08,2.344679e+08,2.389329e+08,2.294358e+08,1.941674e+08,...,1.527014e+08,-2.823770e+07,-2.692962e+07,-1.892563e+07,-1.601640e+07,-1.489301e+07,-1.229785e+07,-9.809420e+06,-9.000090e+06,29
1172,1173.0,KR,2630,1.817362e+08,2.235933e+08,2.080480e+08,1.773723e+08,1.771398e+08,1.904129e+08,1.866070e+08,...,5.344920e+06,-1.989049e+07,-1.843543e+07,-1.666865e+07,-1.581285e+07,-1.530534e+07,-1.433660e+07,-1.273950e+07,-1.108482e+07,20

In [27]:
df3 = df1.drop(columns=['f'])
df3.columns = df3.columns.str.replace('\n', ' ', regex=True)
df3.columns

Index(['Unnamed: 0', 'NACE Rev. 2, core code (4 digits)',
       'Operating revenue (Turnover) th EUR 2023',
       'Operating revenue (Turnover) th EUR 2022',
       'Operating revenue (Turnover) th EUR 2021',
       'Operating revenue (Turnover) th EUR 2020',
       'Operating revenue (Turnover) th EUR 2019',
       'Operating revenue (Turnover) th EUR 2018',
       'Operating revenue (Turnover) th EUR 2017',
       'Operating revenue (Turnover) th EUR 2016', 'Growth % EUR 2023',
       'Growth % EUR 2022', 'Growth % EUR 2021', 'Growth % EUR 2020',
       'Growth % EUR 2019', 'Growth % EUR 2018', 'Growth % EUR 2017',
       'Growth % EUR 2016', 'Investments th EUR 2023',
       'Investments th EUR 2022', 'Investments th EUR 2021',
       'Investments th EUR 2020', 'Investments th EUR 2019',
       'Investments th EUR 2018', 'Investments th EUR 2017',
       'Investments th EUR 2016',
       'Research & development expenses th EUR 2023',
       'Research & development expenses th EUR 2022',
       'Research & development expenses th EUR 2021',
       'Research & development expenses th EUR 2020',
       'Research & development expenses th EUR 2019',
       'Research & development expenses th EUR 2018',
       'Research & development expenses th EUR 2017',
       'Research & development expenses th EUR 2016', 'f1'],
      dtype='object')

In [28]:

# Assume df is your wide-format DataFrame
df_long = df3.melt(id_vars=['Unnamed: 0','NACE Rev. 2, core code (4 digits)','f1'], 
                   value_vars=['Operating revenue (Turnover) th EUR 2023',
       'Operating revenue (Turnover) th EUR 2022',
       'Operating revenue (Turnover) th EUR 2021',
       'Operating revenue (Turnover) th EUR 2020',
       'Operating revenue (Turnover) th EUR 2019',
       'Operating revenue (Turnover) th EUR 2018',
       'Operating revenue (Turnover) th EUR 2017',
       'Operating revenue (Turnover) th EUR 2016', 'Growth % EUR 2023',
       'Growth % EUR 2022', 'Growth % EUR 2021', 'Growth % EUR 2020',
       'Growth % EUR 2019', 'Growth % EUR 2018', 'Growth % EUR 2017',
       'Growth % EUR 2016', 'Investments th EUR 2023',
       'Investments th EUR 2022', 'Investments th EUR 2021',
       'Investments th EUR 2020', 'Investments th EUR 2019',
       'Investments th EUR 2018', 'Investments th EUR 2017',
       'Investments th EUR 2016',
       'Research & development expenses th EUR 2023',
       'Research & development expenses th EUR 2022',
       'Research & development expenses th EUR 2021',
       'Research & development expenses th EUR 2020',
       'Research & development expenses th EUR 2019',
       'Research & development expenses th EUR 2018',
       'Research & development expenses th EUR 2017',
       'Research & development expenses th EUR 2016'],
                  var_name='Feature_Year', 
                  value_name='Value')

# Split 'River_Feature' into 'River' and 'Feature'
#df_long[['River', 'Feature']] = df_long['River_Feature'].str.extract(r'River_(\w+)_(\w+)')

# Drop the original combined column
#df_long = df_long.drop(columns=['River_Feature'])

# Reorder columns if needed
#df_long = df_long[['Timestamp', 'River', 'Feature', 'Value']]
df_long

,Unnamed: 0,"NACE Rev. 2, core code (4 digits)",f1,Feature_Year,Value
0,1.0,2790,16,Operating revenue (Turnover) th EUR 2023,539681.66323
1,2.0,2740,12,Operating revenue (Turnover) th EUR 2023,206277.973775
2,3.0,6190,19,Operating revenue (Turnover) th EUR 2023,81793472.455984
3,4.0,6190,12,Operating revenue (Turnover) th EUR 2023,45441000.0
4,5.0,6190,11,Operating revenue (Turnover) th EUR 2023,45493000.0
...,...,...,...,...,...
35035,1169.0,6201,29,Research & development expenses th EUR 2016,-5432124.458124
35036,1170.0,2790,6,Research & development expenses th EUR 2016,-4732000.0
35037,1171.0,2611,29,Research & development expenses th EUR 2016,-12033967.6478
35038,1172.0,2620,29,Research & development expenses th EUR 2016,-9000089.971455
35039,1173.0,2630,20,Research & development expenses th EUR 2016,-11084824.617669

In [29]:
df_long[['Feature', 'Year']] = df_long['Feature_Year'].str.extract(r'(.+?)(\d+)$')
df3 =df_long.drop(columns='Feature_Year')
df3

,Unnamed: 0,"NACE Rev. 2, core code (4 digits)",f1,Value,Feature,Year
0,1.0,2790,16,539681.66323,Operating revenue (Turnover) th EUR,2023
1,2.0,2740,12,206277.973775,Operating revenue (Turnover) th EUR,2023
2,3.0,6190,19,81793472.455984,Operating revenue (Turnover) th EUR,2023
3,4.0,6190,12,45441000.0,Operating revenue (Turnover) th EUR,2023
4,5.0,6190,11,45493000.0,Operating revenue (Turnover) th EUR,2023
...,...,...,...,...,...,...
35035,1169.0,6201,29,-5432124.458124,Research & development expenses th EUR,2016
35036,1170.0,2790,6,-4732000.0,Research & development expenses th EUR,2016
35037,1171.0,2611,29,-12033967.6478,Research & development expenses th EUR,2016
35038,1172.0,2620,29,-9000089.971455,Research & development expenses th EUR,2016
35039,1173.0,2630,20,-11084824.617669,Research & development expenses th EUR,2016

In [30]:
df3 = df3.rename(columns={'Unnamed: 0': 'company index', 'NACE Rev. 2, core code (4 digits)': 'industry code','f1':'country coded',
                         'Research & development expenses th EUR ':'Research & development expenses th EUR','Operating revenue (Turnover) th EUR ':'Operating revenue (Turnover) th EUR'})

df2 =df3
df2

,company index,industry code,country coded,Value,Feature,Year
0,1.0,2790,16,539681.66323,Operating revenue (Turnover) th EUR,2023
1,2.0,2740,12,206277.973775,Operating revenue (Turnover) th EUR,2023
2,3.0,6190,19,81793472.455984,Operating revenue (Turnover) th EUR,2023
3,4.0,6190,12,45441000.0,Operating revenue (Turnover) th EUR,2023
4,5.0,6190,11,45493000.0,Operating revenue (Turnover) th EUR,2023
...,...,...,...,...,...,...
35035,1169.0,6201,29,-5432124.458124,Research & development expenses th EUR,2016
35036,1170.0,2790,6,-4732000.0,Research & development expenses th EUR,2016
35037,1171.0,2611,29,-12033967.6478,Research & development expenses th EUR,2016
35038,1172.0,2620,29,-9000089.971455,Research & development expenses th EUR,2016
35039,1173.0,2630,20,-11084824.617669,Research & development expenses th EUR,2016

In [31]:
df_pivot = df3.pivot_table(
    index=['company index', 'industry code','country coded', 'Year'],
    columns='Feature',
    values='Value'
).reset_index()

df3=df_pivot
df3 = df3.rename(columns={'Unnamed: 0': 'company index', 'NACE Rev. 2, core code (4 digits)': 'industry code','f1':'country coded',
                         'Research & development expenses th EUR ':'Research & development expenses th EUR','Operating revenue (Turnover) th EUR ':'Operating revenue (Turnover) th EUR'})
df3

Feature,company index,industry code,country coded,Year,Growth % EUR,Investments th EUR,Operating revenue (Turnover) th EUR,Research & development expenses th EUR
0,1.0,2790,16,2016,17.062483,46477.768853,354171.57815,1873.421096
1,1.0,2790,16,2017,12.721252,43731.898032,360772.766648,764.314943
2,1.0,2790,16,2018,5.645909,41183.864161,369938.238475,1332.179946
3,1.0,2790,16,2019,6.795068,43952.433371,431387.245532,1285.521876
4,1.0,2790,16,2020,6.799656,40929.508131,439484.243627,778.682675
...,...,...,...,...,...,...,...,...
8755,1173.0,2630,20,2019,3.76018,6858539.060071,177139833.884701,-15305342.856495
8756,1173.0,2630,20,2020,-1.677549,9419044.56273,177372346.744408,-15812854.832523
8757,1173.0,2630,20,2021,2.996482,10391685.747777,208048023.808541,-16668651.042003
8758,1173.0,2630,20,2022,8.072241,8431603.671757,223593258.013256,-18435428.632877
8759,1173.0,2630,20,2023,0.813457,5250815.396712,181736198.770143,-19890489.45895

In [36]:
from sklearn.linear_model import LinearRegression
import pandas as pd
from sklearn.preprocessing import PolynomialFeatures
from sklearn.pipeline import Pipeline

df4= df3.apply(pd.to_numeric)

# Stratification
df4.select_dtypes(exclude=['float']).head()


X = df4.drop(columns='Growth % EUR ')  # 34 features
y = df4['Growth % EUR ']               # Target variable

bins = pd.qcut(df4['Operating revenue (Turnover) th EUR'], q=5, labels=False)
X_train, X_test, y_train, y_test = train_test_split(X, y, stratify=bins, test_size=0.3)


from sklearn.model_selection import train_test_split     #check for overfitting
reg= LinearRegression()

reg.fit(X_train, y_train)
print("Train R²:", reg.score(X_train, y_train))
print("Test R²:", reg.score(X_test, y_test))

from sklearn.ensemble import RandomForestRegressor

rf = RandomForestRegressor()
rf.fit(X_train, y_train)
print("Train R²:", rf.score(X_train, y_train))
print("Test R²:", rf.score(X_test, y_test))

Train R²: 0.030764139878297958
Test R²: 0.02951524598842392
Train R²: 0.8821013408685131
Test R²: 0.28311311272448214

In [38]:
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

# Predictions
y_train_pred = reg.predict(X_train)
y_test_pred = reg.predict(X_test)

# Train metrics
print("Train MSE:", mean_squared_error(y_train, y_train_pred))
print("Train R²:", r2_score(y_train, y_train_pred))

# Test metrics
print("Test MSE:", mean_squared_error(y_test, y_test_pred))
print("Test R²:", r2_score(y_test, y_test_pred))

Train MSE: 303.71366200927747
Train MAE: 8.913203990246489
Train R²: 0.030764139878297958
Test MSE: 237.78147689209086
Test MAE: 8.956628396133981
Test R²: 0.02951524598842392

In [40]:
# Predictions
y_train_pred = rf.predict(X_train)
y_test_pred = rf.predict(X_test)

# Train metrics
print("Train MSE:", mean_squared_error(y_train, y_train_pred))
print("Train R²:", r2_score(y_train, y_train_pred))

# Test metrics
print("Test MSE:", mean_squared_error(y_test, y_test_pred))
print("Test R²:", r2_score(y_test, y_test_pred))

Train MSE: 36.94398338327191
Train R²: 0.8821013408685131
Test MSE: 175.64667772092915
Test R²: 0.28311311272448214

In [260]:
\

Train R²: 0.7309018979500463
Test R²: 0.6727284261254298

In [262]:
\

Train R²: 0.9942403415553572
Test R²: 0.9628159741546993